<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="valign-wrapper" style="background-color: #f7f7f7; height: 100vh;">

<div class="container center-align">
    <button class="btn waves-effect waves-light" onclick="saveReq()">글작성</button>
    <button class="btn waves-effect waves-light" onclick="listReq()">글목록</button>
    <button class="btn waves-effect waves-light" onclick="pagingReq()">페이징목록</button>
</div>

<!-- Materialize JS CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }

    const listReq = () => {
        location.href = "/board/";
    }

    const pagingReq = () => {
        location.href = "/board/paging";
    }
</script>
</body>
</html>
