<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기본 웹페이지</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            color: #777;
        }
    </style>
</head>

<body>
    <h1>환영합니다!</h1>
    <p>이것은 기본 웹페이지 예제입니다.</p>
    <button onclick = "saveReq()">글 작성하기 </button>
</body>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }
</script>

</html>
