<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <form class="col s12" action="/board/save" method="post" enctype="multipart/form-data"> <!-- Added enctype (file) -->
            <div class="input-field col s12">
                <input type="text" id="boardWriter" name="boardWriter">
                <label for="boardWriter">writer</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="boardPass" name="boardPass">
                <label for="boardPass">pass</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="boardTitle" name="boardTitle">
                <label for="boardTitle">title</label>
            </div>
            <div class="input-field col s12">
                <textarea id="boardContents" class="materialize-textarea" name="boardContents"></textarea>
                <label for="boardContents">contents</label>
            </div>
            <div class="file-field input-field col s12">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="boardFile" multiple> <!-- 파일이 여러개일때는 multiple -->
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload file">
                </div>
            </div>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit">글작성
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Materialize JS CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
