<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update</title>
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div class="container">
  <form action="/board/update" method="post" name="updateForm">
    <input type="hidden" name="id" th:value="${boardUpdate.id}">

    <div class="input-field">
      <label for="boardWriter">writer</label>
      <input type="text" name="boardWriter" id="boardWriter" th:value="${boardUpdate.boardWriter}" readonly>
    </div>

    <div class="input-field">
      <label for="boardPass">pass</label>
      <input type="text" name="boardPass" id="boardPass">
    </div>

    <div class="input-field">
      <label for="boardTitle">title</label>
      <input type="text" name="boardTitle" id="boardTitle" th:value="${boardUpdate.boardTitle}">
    </div>

    <div class="input-field">
      <label for="boardContents">contents</label>
      <textarea id="boardContents" class="materialize-textarea" name="boardContents" th:text="${boardUpdate.boardContents}"></textarea>
    </div>

    <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
    <button class="btn" type="button" onclick="boardUpdate()">글수정</button>
  </form>

  <!-- Materialize JS CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script th:inline="javascript">
        const boardUpdate = () => {
            const pass = [[${boardUpdate.boardPass}]];
            const inputPass = document.getElementById("boardPass").value;
            if (pass == inputPass) {
                document.updateForm.submit();
            } else {
                alert("비밀번호가 일치하지 않습니다!");
            }
        }
    </script>
</div>

</body>
</html>
